@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
/* CSS Document */

*{
	margin: 0 auto;
}

html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

main{
	width: 100%;
}

/*CSS da Área do Cabeçalho*/
header{
	background-color: #FCDB00;
	width: 100%;
}

nav{
	display: flex;
	flex-direction: row;
	padding-top: 20px;
    padding-bottom: 20px;
	width: 60%;
}

.logo{
	margin: 0;
}

.menu{
	align-items: center;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	justify-content: flex-end;
	margin: 0;
	padding-left: 50%;
}

.item-lista{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	height: 20px;
	padding-left: 6px;
	padding-right: 14px;
    text-align: center;
}

/*CSS da Área do Slider*/
.slider{
	background-color: #FCDB00;
	height: 650px;
	width: 100%;
}

.sobre{
	display: flex;
	flex-direction: row;
	margin: 0;
	width: 100%;
}

.alinhamento1{
	flex-direction: column;
	padding-left: 21%;
	margin: 0;
	padding-top: 8%;
	width: 28%;
}

.titulo{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.subtitulo{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	margin-top: 10px;
}

.paragrafo{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
}

.logo-sistemas{
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0;
}

.icones{
	margin: 0 30px 0 0;
}

.alinhamento2{
	flex-direction: column;
	margin: 0;
	padding-left: 8%;
}

/*CSS da Área do Features*/
.features{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	height: 750px;
	width: 100%;
}

.alinhamento3{
	margin: 0;
	padding-top: 6%;
	text-align: center;
}

.alinhamento4{
	display: flex;
	flex-direction: row;
	padding-top: 6%;
	width: 70%;
}

.imagens-features{
	position: absolute;
}

.alinhamento-features{
	padding-left: 26%;
}

.titulo-features{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

/*CSS da Área do Subscribe*/
.subscribe{
	background-color: #000;
	display: flex;
	flex-direction: column;
	height: 320px;
	width: 100%;
}

.alinhamento5{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-top: 6%;
	text-align: center;
}

.titulo-subscribe{
	color: #FCDB00;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.paragrafo-subscribe{
	color: #898989;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 1%;
}

.newslatter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 38px;
	width: 100%;
}

.alinhamento-email{
	margin: 0;
	padding-left: 20%;
	width: 50%;
}

input[type=email]{
	border: none;
	border-radius: 8px;
    padding: 12px;
    width: 100%;
}

.alinhamento-submit{
	margin: 0;
	padding-left: 44px;
	width: 350px;
}

input[type=submit] {
	background-color: #FCDB00;
	border: none;
    border-radius: 8px;
    color: #000;
    height: 100%;
    padding: 12px;
    width: 38%;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/*CSS da Área do Social Connect*/
.social-connect{
	background-color: #000;
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 100%;
}

.alinhamento6{
	margin: 0;
	width: 100%;
}

.logo-redes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0;
}

/*CSS da Área do Footer*/
.rodape{
	background-color: #000;
	height: 500px;
	width: 100%;
}

.alinhamento7{
	color: #FFF;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 90px;
	height: 300px;
}

